body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  
  
}
.calculator{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    margin: auto;
    margin-top: 1.5rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgb(218, 232, 232);
}


h1{ color: blueviolet;
    font-size: 1.7rem;
    font-weight: bold;
}

h2, .para{
    color: blueviolet;
    font-size: 1.4rem;
}

h2{
    margin-top: 2rem;
    font-weight: bold;
}

::placeholder{
    color: white;
}

input {
  background-image: linear-gradient(
    to top left,
    #6c7a8f 0%,
    rgb(126, 151, 151) 100%
  );
  color: white;
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  border: 5px white;
}

.resetandrechner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn,.btn-reset{
  background-image: linear-gradient(to top left, #9963a3 0%, #945759 100%);
  color: white;
  border-radius: 5px;
  margin: 20px;
  width: 200px;
  font-size: 20px;
}

.btn :hover {
  background-color: gainsboro;
  color: black;
}

.showBMI {
  background-image: linear-gradient(
    to top left,
    #6c87af 0%,
    rgb(84, 158, 158) 100%
  );
  align-items: center;
  text-align: center;
  width: 400px;
  color: white;
  border-radius: 10px;
  padding: 20px;
}

.showBMI-niedrig {
    background: linear-gradient(to top left, #6c87af, rgb(84, 158, 158));
}
  
.showBMI-normal {
    background: linear-gradient(to top left, #6c87af, rgb(84, 158, 158));
}
  
.showBMI-hoch {
    background: linear-gradient(to top left, #6c87af, rgb(84, 158, 158));
}

.counsel-hidden{
    background-image: linear-gradient(to top left, #9963a3 0%, #945759 100%);
    align-items: center;
    text-align: center;
    width: 400px;
    color: white;
    border-radius: 10px;
    padding: 20px;
}

.information{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 28rem;
    margin: auto;
    margin-top: 2rem;
    padding-right: 2rem;
    background-color: rgb(218, 232, 232);
    border-radius: 10px;
}

li {
    margin-bottom: 15px;
}
  
.hidden {
    display: none;
}

